xmetword {
	position: relative !important;
	display: inline !important;
	text-indent: 0 !important;
	pointer-events: none;
}

xmetword::before {
	content: attr(data-times) !important;
	color: var(--met-color) !important;
	position: absolute !important;
	line-height: 3px !important;
	height: 2px !important;
	font-family: 'Courier New', Courier, monospace !important;
	display: inline-block !important;
	width: 100% !important;
	left: 0% !important;
	top: 100% !important;
	text-align: left !important;
	overflow: hidden !important;
	text-overflow: clip !important;
}

xmet {
	font-weight: 600 !important;
}