#metwords-tip {
    position:absolute;
    display:none;
    background-color:rgb(255, 255, 255);
    color:black;
    padding:10px;
    font-size:14px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
    width: 500px;
    border: 1px solid gray;
	border-radius: 5px;
	box-shadow: 5px 5px rgb(209, 203, 203);
    z-index: 7665;
}

#metwords-tip * {
	all: unset;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
}

#metwords-tip .head {
	margin-bottom: 10px;
	display: block;
}

#metwords-tip .phonetic {
	margin-bottom: 10px;
	display: block;
}

#metwords-tip .defs {
	margin-bottom: 10px;
	display: block;
}

#metwords-tip .scenes {
	margin-bottom: 10px;
	display: block;
}

#metwords-tip .headword {
	font-size: 30px;
	padding: 2px;
	margin-right: 20px;
}

#metwords-tip .met-times {
	font-size: 15px;
	margin-right: 20px;
}

#metwords-tip xmet {
	font-weight: bold;
}

#metwords-tip button {
	font-size: 15px;
	margin-right: 10px;
	background-color: lightgreen;
	padding: 1px 10px;
	border-radius: 4px;
	cursor: pointer;
}

#metwords-tip button:disabled {
	background-color: lightgray;
	cursor: default;
}

#metwords-tip ul {
	display: block;
	list-style-position: inside;
	list-style-type: square;
}

#metwords-tip .defs ul {
	list-style-type: none;
}

#metwords-tip ul li {
	display: list-item;
}

#metwords-tip li a {
	cursor: pointer;
}

xmetword.x-metword-mark {
    position: relative;
	z-index: 0;
	display: inline;
	text-indent: 0;
}

xmetword.x-metword-mark::before {
    content: attr(data-times);
    color: var(--met-color);
    position: absolute;
    z-index: -7671;
    line-height: 3px;
	height: 2px;
	font-family:'Courier New', Courier, monospace;
	font-weight: 600;
	display: inline-block;
	width: 100%;
	left: 0%;
	top: 100%;
	text-align: left;
	overflow: hidden;
	text-overflow: clip;
}